Screen {
    layout: vertical;
    padding: 1
}

.title {
    text-style: bold;
    margin-bottom: 1;
}

Input, Button {
    margin: 1 0;
    width: 50%;
}

UserInfoPanel {
    padding: 1;
    border: round $surface;
    width: 30%;
    height: auto;
    background: $boost;
    text-style: dim;
}

Button#logout {
    margin-top: 1;
    width: 100%;
    background: red;
    color: white;
}